<div class="row">
    <div class="col-md-12 mb-5 text-right">
        <button class="addBtn" routerLink="/products" mat-raised-button color="primary">Go to Product</button>
    </div>
</div>



<div class="text-center">
    <img src="https://herbatia.co.id/under-construction-page-2.png" alt="">
</div>




<!-- <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/9e/29/d3/smart-toys-and-books.jpg?w=1200&h=-1&s=1"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Books and Toys</h5>
            <p class="card-text text-danger"><strong>CHOOSE NOW</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://img.freepik.com/premium-photo/high-angle-view-computer-keyboard-table_1048944-18670532.jpg"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Electronics</h5>
            <p class="card-text text-danger"><strong>Check It Out</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://static.vecteezy.com/system/resources/previews/006/204/633/large_2x/perfume-and-makeup-cosmetics-on-wooden-background-free-photo.jpg"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Perfumes and Makeups</h5>
            <p class="card-text text-danger"><strong>You may get Discount!!</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://png.pngtree.com/png-vector/20220518/ourmid/pngtree-cartoon-gaming-accessories-accessory-professional-png-image_4688166.png"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Gaming</h5>
            <p class="card-text text-danger"><strong>Latest Game console is Available Now!!</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://img.pikbest.com/templates/20240517/laptop-sale-tewmplate-design_10569289.jpg!sw800"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Laptops</h5>
            <p class="card-text text-danger"><strong>Grab Now!!</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 border-0">
          <img
            src="https://5.imimg.com/data5/SELLER/Default/2021/4/PG/UE/CJ/81339524/mobile-phone-accessories.png"
            class="card-img-top w-100"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Mobiles</h5>
            <p class="card-text text-danger"><strong>Grab Now!!</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  