<div class="container">
  <div class="row" *ngIf="productsArr.length > 0; else noProducts">
    <div class="col-sm-3 mb-5" *ngFor="let prod of productsArr">
      <div
        class="card h-100"
        style="cursor: pointer; transition: all 0.6s ease-in-out"
        (mouseenter)="hoveredProductId = prod._id"
        (mouseleave)="hoveredProductId = null"
        [routerLink]="prod._id"
      >
        <div class="prodImg">
          <img
            [src]="prod.images[0]"
            class="main-img"
            alt="Product"
          />
          <img
            [src]="prod.images[1]"
            class="hover-img"
            [class.show]="hoveredProductId === prod._id"
            alt="Product Hover"
          />
        </div>
        <div class="card-body">
          <h4 class="card-subtitle m-0 text-secondary">
            {{ prod.category }}
          </h4>
          <h3 class="card-title m-0">
            <strong>{{ prod.title }}</strong>
          </h3>
          <h2 class="card-text text-danger">
            <strong>{{ prod.total_price }}</strong>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProducts>
    <p *ngIf="!loading" class="alert alert-info">No Products Available Currently</p>
  </ng-template>
  <div class="d-flex justify-content-center align-items-center" *ngIf="loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
